<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Todo</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
   <link href="css/ionic.app.css" rel="stylesheet">

    <script src="lib/ionic/js/ionic.bundle.js"></script>
  
    <!-- Needed for Cordova/PhoneGap (will be a 404 during development) -->
    <script src="js/app.js"></script>
    <script src="cordova.js"></script>
      
  </head>
  <body ng-app="Shoppinglista" ng-controller="TodoCtrl">

 <ion-side-menus>

    <!-- Center content -->
    <ion-side-menu-content>
      <ion-header-bar class="bar-dark">
        <h1 class="title"></h1>
               <button class="button button-icon" ng-click="newTask()">
          <i class="icon ion-compose"></i>
          </button>
            
        <h1 class="title">{{activeProject.title}}</h1>
          <button class="button button-icon" ng-click="toggleProjects()">
        <i class="icon ion-navicon"></i>
            </button>
      </ion-header-bar>
      <ion-content scroll="true">
          <ion-list can-swipe="true">
            <ion-item class="icon ion-star item-remove-animate item" ng-repeat="task in activeProject.tasks" on-hold="deleteTaskConfirm(task, $index)" ng-click="selectTask(task, $index)">
                {{task.title}}
            </ion-item>
          </ion-list>
      </ion-content>
    </ion-side-menu-content>

    <!-- right menu -->
    <ion-side-menu side="right">
       <ion-header-bar class="bar-dark">
      <h1 class="title">Shoppinglistor</h1>
      <button class="button button-icon ion-plus" ng-click="newProject()">
      </button>
    </ion-header-bar>
    <ion-content scroll="false">
      <ion-list class="list list-inset">
        <ion-item ng-repeat="project in projects" ng-click="selectProject(project, $index)" ng-class="{active: activeProject == project}" on-hold="deleteProjectConfirm(project, $index)">
          {{project.title}}
        </ion-item>
      </ion-list>
    </ion-content
    </ion-side-menu>
    <script id="new-task.html" type="text/ng-template">

  <div class="modal">

    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
      <h1 class="title">Ny produkt</h1>
      <button class="button button-clear button-positive" ng-click="closeNewTask()">Avbryt</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>

      <form ng-submit="createTask(task)">
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="Lägg in produkt?" ng-model="task.title">
          </label>
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-positive">Skapa produkt</button>
        </div>
      </form>

    </ion-content>

  </div>

</script>
                 
  </ion-side-menus>
        
     
</body>
</html>
